MAGNOLIA_BASE_URL=http://localhost:8080/magnoliaPublic
MAGNOLIA_PAGE_PREFIX=/manutd-api
MAGNOLIA_PAGES_ENDPOINT=/.rest/delivery/v1/pages
MAGNOLIA_TEMPLATE_ANNOTATIONS_ENDPOINT=/.rest/template-annotations/v1
MAGNOLIA_FOOTERS_ENDPOINT=/.rest/delivery/v1/footers
